<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Показатели</title>
  <link rel="shortcut icon" href="/views/img/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/views/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/views/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="/views/css/animate.css">
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/statistics">Статистика</a></li>
    <li class="divider"></li>
    <li><a href="/analytics">Аналитика</a></li>
  </ul>

  <nav class="amber accent-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo blue-text animated bounce"><img src="/views/img/logo.png" alt="logo" class="responsive-img"> Phtisis</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/database">База данных</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Показатели<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/archive">Архив</a></li>
        <li><a href="/logout">Выйти</a></li>            
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/database">База данных</a></li>
        <li><a href="/statistics">Статистика</a></li>
        <li><a href="/analytics">Аналитика</a></li>
        <li><a href="/archive">Архив</a></li>
        <li><a href="/logout">Выйти</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <main>
      <div class="container">
        <div class="section">
          <div class="row ">
            <div class="col s12">
              <div class="center">
                <h2 class="center-align">Основные показатели работы</h2>
              </div>
            </div>    
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12">
              <div class="col m4 s12 push-m2">
                <div class="row">
                  <div class="col s12">
                    <div class="card card_rad hoverable wow fadeInUp" data-wow-delay="0.2s">
                      <div class="card-image">
                        <img src="/views/img/101-computer.png" class="responsive-img">
                      </div>
                      <div class="card-content">
                        <span class="card-title black-text">Статистика</span>
                        
                      </div>
                      <div class="card-action">
                        <a href="/statistics">Перейти</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col m4 s12 push-m2">
                <div class="row">
                  <div class="col s12">
                    <div class="card card_rad hoverable wow fadeInUp" data-wow-delay="0.4s">
                      <div class="card-image">
                        <img src="/views/img/101-worldwide-3.png" class="responsive-img">
                      </div>
                      <div class="card-content">
                        <span class="card-title black-text">Аналитика</span>
                        
                      </div>
                      <div class="card-action">
                        <a href="/analytics">Перейти</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </main>
    
    <footer class="page-footer teal lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright ©2020 All rights reserved | This sity is made by Roman Sinitsa
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/views/js/materialize.js"></script>
    <script src="/views/js/init.js"></script>
    <script src="/views/js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
</body>
</html>